.head{
  padding: 20px;
  text-align:start;
  text-justify: center;
}

.myInput{
  text-align: center;
  background-color: gray;
  color: white;
}

.foot{
  text-align: center;
  font-size: x-small;
  font-weight:100;
  width: 100%;
  height: 5vh;
  position: fixed;
  bottom: 0;
  left: 0;
  color: black;
}

.back{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("back.jpg");
  background-repeat: no-repeat;
  background-attachment:;
  background-size: cover;
  background-position: right bottom;
  color: white;
  height: 90vh;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bt{
  color: white;
  border-color: black;
}
